<h1 id="tableLabel">User Data</h1>

<p *ngIf="!UserDatas"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="UserDatas">
  <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Date of Birth</th>
      <th>Favourite Colour</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let UserData of UserDatas">
      <td>{{ UserData.id }}</td>
      <td>{{ UserData.firstName }}</td>
      <td>{{ UserData.lastName }}</td>
      <td>{{ UserData.email }}</td>
      <td>{{ UserData.dob }}</td>
      <td>{{ UserData.favouriteColour }}</td>
    </tr>
  </tbody>
</table>
